html, body{
    overflow:hidden;    
}

#app{
    margin:auto;
    width:500px;
    height:60px;
    box-shadow: 2px 2px 5px  5px rgb(214, 213, 213);
    -webkit-box-shadow: -1px -1px 13px 2px rgba(224,213,213,1);
    -moz-box-shadow: -1px -1px 13px 2px rgba(224,213,213,1);
    box-shadow: -1px -1px 13px 2px rgba(224,213,213,1);
}

#addTask{
    width: 100%;
    height: 100%;
    padding:5px 10px 5px 50px;
    font-size:25px;
    font-style:italic;
    color: rgb(156, 151, 151);
    border:1px solid rgb(202, 198, 198);
    display: block;
}

#addTask:hover{
    cursor: text;
}

header{
    width:100%;
}

input:focus{
    outline:none;
    border:3px solid rgb(202, 198, 198);
}

::placeholder {
    color: rgb(223, 217, 217);
    font-style: italic;
}

.task{
    display: block;
    cursor: pointer;
}

.task button.remove{
    display:none;
    cursor:pointer;
    color:grey;
}

.task:hover button.remove{
    display:block;
}

#tasksList{
    padding-inline-start:0;
    margin-block-end: 0;
    margin-block-start: 0;

}

.task div{
    padding: 10px 5px;
    border:1px solid rgb(202, 198, 198);
    box-shadow: 2px 2px 5px  5px rgb(214, 213, 213);
    -webkit-box-shadow: -1px -1px 13px 2px rgba(224,213,213,1);
    -moz-box-shadow: -1px -1px 13px 2px rgba(224,213,213,1);
    box-shadow: -1px -1px 13px 2px rgba(224,213,213,1);
}

.task input{
    border-radius: 50%;
    width: 22px;
    border:2px solid rgb(202, 198, 198);
}

.task label{
    padding-left:10px;
    font-size:18px;
}

.task button{
    color: green;
    float:right;
    border: none;
    background: none;
}

footer{
    display:none;
    padding:12px 8px;
    font-size:14px;
    border:1px solid rgb(202, 198, 198);
    box-shadow: 2px 2px 5px  5px rgb(214, 213, 213);
    -webkit-box-shadow: -1px -1px 13px 2px rgba(224,213,213,1);
    -moz-box-shadow: -1px -1px 13px 2px rgba(224,213,213,1);
    box-shadow: -1px -1px 13px 2px rgba(224,213,213,1);
}

.footer, .sort{
    display:flex;
    justify-content: space-between;
}

.sort div{
    margin:0 5px;
}

.completed label{
    text-decoration: line-through;
}

.clear, .itemsLeft, .filter{
    padding:3px 6px;
    cursor:pointer;
}

.active{
    border:1px solid green;
}

@media screen and (max-width: 600px){
    #app{
        width:80%;
    }
    #add-task{
        font-size:18px;
        padding: 5px 10px 5px 20px;
    }
}